<h1><%= @cocktail.name%></h1>

<ul class="list-unstyled">
  <% @cocktail.doses.each do |dose| %>
    <li>
      <h1><i class="fas fa-glass-martini-alt"></i> <%= dose.description %> <%= dose.ingredient.name %></h1>
    </li>
  <% end %>
</ul>

<h2><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)%></h2>
<h3><%= link_to "Back to Cocktails", cocktails_path %></h3>

